body {
    background-image: url(../tlopod.jpg);
    background-color: #004f2d;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    line-height: 1.5;
    filter: brightness(150%);
    color: white;
}
p {
    margin-top: 0px;
    text-align: center;
}